<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Register</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;            
        }
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(226, 234, 237);
        }
        .bg-con {
            display: flex;
            flex-direction: column;
        }
        .nav {
            width: 100%;
            height: 70px;
            line-height: 75px;
            padding: 0 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 25px;
            background-color: #007bff;
            color: #ffffff;
            z-index: 1000;
        }
        .container {
            width: 100%;
            margin-top: 100px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
        form {
            width: 500px;
            max-width: 100%;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #f0f0f0;
        }
        .form-control {
            width: 100%;
            border: 1px solid #bddde7;
        }
        .password-toggle-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #666;
        }
        .mt-3 {
            margin-top: 1rem;
        }
        .error-message {
            color: red;
        }
        .input-group-append .input-group-text.password-toggle-icon {
            cursor: pointer;
            color: #666;
        }
        #dob {
        	color: #495057; 
        	background-color: #fff; 
        	border: 1px solid #ced4da;
        	border-radius: 0.25rem; 
        	padding: 0.375rem 0.75rem; 
        	line-height: 1.5; 
        	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    	}
    	#dob:focus {
        	border-color: #80bdff; 
        	outline: 0; 
        	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
    	}
    	footer {
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 0px 0; 
        } 
        .footer-content {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
        }
        .password-toggle-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #666;
        }
        .footer-left p,
        .footer-right p,
        .footer-center p {
            margin: 5px 0;
        }   
        #termsAndConditions-class {
            color: rgb(205, 50, 107);
        }
        .btn-primary {
            background-color: green;
            border-color: green;
        }
        a[href="/login"] {
            color: rgb(205, 50, 107);
        }    
    </style>
</head>
<body>
<div class="bg-con">
    <div class="nav">
        <h1 style="color: #ffffff;">User registration</h1>
    </div>
    <div class="container">
        <form id="register-form" method="post" role="form" th:action="@{/register}" th:object="${user}" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label"><b>User Name</b></label>
                <input type="text" id="username" class="form-control" placeholder="Enter Username" th:field="*{username}" required autofocus>
                <span id="username-error" class="error-message" th:text="${usernameError}"></span>
            </div>
            <div class="mb-2">
    			<label for="firstname" class="form-label"><b>First Name</b></label>
    			<input type="text" id="firstname" class="form-control" placeholder="Enter First Name" th:field="*{firstname}" required autofocus>
    			<span id="firstname-error" class="error-message"></span>
			</div>
            <div class="mb-2">
    			<label for="username1" class="form-label"><b>Last Name</b></label>
    			<input type="text" id="username1" class="form-control" placeholder="Enter Last Name" th:field="*{username1}" required autofocus>
    			<span id="username1-error" class="error-message"></span>
			</div>
            <div class="mb-2">
    			<label for="password" class="form-label"><b>Password</b></label>
    			<div class="input-group">
        			<input type="password" id="password" class="form-control" placeholder="Enter Password" th:field="*{password}" pattern="^(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$" required autofocus>
        			<div class="input-group-append">
            			<span class="password-toggle-icon" onclick="togglePasswordVisibility('password')">
                            <i class="fas fa-eye" id="eye-icon"></i>
                        </span>
        			</div>
    			</div>
    			<span id="password-error" class="error-message"></span>
			</div>
			<div class="mb-2">
    			<label for="confirmPassword" class="form-label"><b>Confirm Password</b></label>
    			<div class="input-group">
        			<input type="password" id="confirmPassword" class="form-control" placeholder="Enter Confirm Password" th:field="*{confirmPassword}" required autofocus>
        			<div class="input-group-append">
            			<span class="password-toggle-icon" onclick="togglePasswordVisibility('confirmPassword')">
                            <i class="fas fa-eye" id="eye-icon"></i>
                        </span>
        			</div>
    			</div>
    			<span id="confirmPassword-error" class="error-message"></span>
			</div>
            <div class="mb-2">
                <label for="email" class="form-label"><b>Email</b></label>
                <input type="email" id="email" class="form-control" placeholder="Enter Email" th:field="*{email}" required autofocus>
                <span id="email-error" class="error-message"></span>
            </div>
            <div class="mb-2">
                <label for="gender" class="form-label"><b>Gender</b></label>
                <select id="gender" class="form-control" required th:field="*{gender}">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Female">Others</option>
                </select>
                <span id="gender-error" class="error-message"></span>
            </div>
            <div class="mb-2">
    			<label for="phone" class="form-label"><b>Phone</b></label>
    			<div class="input-group">
        			<div class="input-group-prepend">
            			<span class="input-group-text">+91</span>
        			</div>
        			<input type="text" id="phone" class="form-control" placeholder="Enter Phone Number" th:field="*{phone}" value="+91" required autofocus>
    			</div>
    			<span id="phone-error" class="error-message"></span>
			</div>
			<div class="mb-2">
    			<label for="dob" class="form-label"><b>Date Of Birth</b></label>
    			<input type="date" id="dob" class="form-control" name="dob" th:field="*{dob}" required th:min="1906-01-01">
    			<span id="dob-error" class="error-message"></span>
			</div>
            <div class="mb-2">
                <label for="address" class="form-label"><b>Address</b></label>
                <input type="text" id="address" class="form-control" placeholder="Enter Address" th:field="*{address}" required autofocus>
                <span id="address-error" class="error-message"></span>
            </div>
            <div class="mb-2">
                <label for="maritalStatus" class="form-label"><b>Marital Status</b></label>
                <select id="maritalStatus" class="form-control" required th:field="*{maritalStatus}">
                    <option value="" selected>Select Marital Status</option>
                    <option value="Married">Married</option>
                    <option value="Unmarried">Unmarried</option>
                </select>
                <span id="maritalStatus-error" class="error-message"></span>
            </div>
            <div class="mb-2">
    			<label for="degree" class="form-label"><b>Degree</b></label>
    			<select id="degree" class="form-control" required th:field="*{degree}" onchange="checkOtherDegree(this)">
        			<option value="" selected>Select Degree</option>
        			<option value="B.E">B.E</option>
        			<option value="MBA">MBA</option>
        			<option value="B.Tech">B.Tech</option>
        			<option value="B.Sc">B.Sc</option>
        			<option value="Others">Others</option>
    			</select>
    			<input type="text" id="otherDegree" class="form-control mt-2" placeholder="Enter Degree" name="otherDegree" style="display: none;">
    			<span id="degree-error" class="error-message"></span>
			</div>
            <div class="mb-2">
                <label for="department" class="form-label"><b>Department</b></label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="department" id="financialMetrics" th:value="'Financial Metrics'">
                        <label class="form-check-label" for="financialMetrics">Financial Metrics</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="department" id="salesAndMarketing" th:value="'Sales and Marketing'">
                        <label class="form-check-label" for="salesAndMarketing">Sales and Marketing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="department" id="operationalMetrics" th:value="'Operational Metrics'">
                        <label class="form-check-label" for="operationalMetrics">Operational Metrics</label>
                    </div>
                </div>
                <span id="department-error" class="error-message"></span>
            </div>
            <div class="mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="termsCheckbox" required>
                    <label class="form-check-label" for="termsCheckbox">
                        I accept the <a href="/termsAndConditions" id="termsAndConditions-class" target="_blank">terms and conditions</a>.
                    </label>
                </div>
                <span id="terms-error" class="error-message"></span>
            </div>
            <div class="mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
        </form>
        <span>Already Registered: <a th:href="@{/login}">Login</a></span>
    </div>
        <footer>
        <div class="footer-center">
            <p>&copy; 2024 Saranya Jash Corporation. All rights reserved.</p>
        </div>
        <div class="footer-content">
            <div class="footer-left">
                <p>Saranya Jash Corportation,</p>
                <p>Cross cut Road.</p>
                <p>Gandhipuram,</p>
                <p>Coimbatore-637421.</p>
            </div>
            <div class="footer-right">
                <p>Contact: +91 6382840491</p>
                <p>Email: saranyajash2003@gmail.com</p>
            </div>
        </div>
    </footer>
</div>
<script>
	function togglePasswordVisibility(inputId, iconId) {
            var inputElement = document.getElementById(inputId);
            var iconElement = document.getElementById(iconId);

            if (inputElement.type === "password") {
                inputElement.type = "text";
                iconElement.classList.remove("fa-eye");
                iconElement.classList.add("fa-eye-slash");
            } else {
                inputElement.type = "password";
                iconElement.classList.remove("fa-eye-slash");
                iconElement.classList.add("fa-eye");
            }
        }
    function saveFormData() {
        const form = document.getElementById('register-form');
        const formData = new FormData(form);

        for (let [key, value] of formData.entries()) {
            sessionStorage.setItem(key, value);
        }
    }

    function populateFormData() {
        const form = document.getElementById('register-form');
        const keys = Object.keys(sessionStorage);

        keys.forEach(key => {
            const input = form.querySelector(`[name="${key}"]`);
            if (input) {
                input.value = sessionStorage.getItem(key);
            }
        });
    }

    function clearSessionStorage() {
        sessionStorage.clear();
    }

    function validateCheckbox() {
        const checkbox = document.getElementById('termsCheckbox');
        const errorSpan = document.getElementById('terms-error');

        if (!checkbox.checked) {
            errorSpan.innerText = 'Please accept the terms and conditions.';
            errorSpan.style.color = 'red';
            return false;
        } else {
            errorSpan.innerText = '';
            return true;
        }
    }

    window.addEventListener('beforeunload', saveFormData);
    window.addEventListener('DOMContentLoaded', populateFormData);

    document.getElementById("termsAndConditions-class").addEventListener("click", function() {
        saveFormData();
        window.location.href = "/termsAndConditions";
    });

    document.getElementById("login-class").addEventListener("click", function() {
        clearSessionStorage();
    });

    const registerForm = document.getElementById('register-form');
    registerForm.addEventListener('submit', function(event) {
        if (!validateCheckbox()) {
            event.preventDefault();
        }
    });
</script>
<script>
document.getElementById('username').addEventListener('input', function (event) {
    var username = this.value.trim();
    var errorElement = document.getElementById('username-error');
    errorElement.textContent = '';
    
    if (username.charAt(0) === ' ') {
        errorElement.textContent = 'First character should not be a space.';
        return;
    }
    this.value = username.replace(/\s{2,}/g, ' ');
    if (/^[^A-Za-z]/.test(username)) {
        this.value = username.slice(1);
        return;
    }
    if (/^[a-z]/.test(username)) {
        this.value = username.charAt(0).toUpperCase() + username.slice(1);
    }
    if (username.length > 19) {
        this.value = this.value.slice(0, 19);
        event.preventDefault();
        errorElement.textContent = 'User name must be between 8 and 19 characters.';
        return;
    }
    if (username.length < 8) {
        errorElement.textContent = 'User name must be at least 8 characters.';
        return;
    }
    errorElement.textContent = '';
});
document.getElementById('register-form').addEventListener('submit', function (event) {
    var username = document.getElementById('username').value.trim();
    var errorElement = document.getElementById('username-error');
    errorElement.textContent = '';
    if (username.charAt(0) === ' ') {
        errorElement.textContent = 'First character should not be a space.';
        event.preventDefault();
        return;
    }
    if (username.length < 8 || username.length > 19) {
        errorElement.textContent = 'User name must be between 8 and 19 characters.';
        event.preventDefault();
        return;
    }
});
        var lastCharTyped = '';
        document.getElementById('firstname').addEventListener('input', function (event) {
            var firstnameInput = this.value.trim();
            var errorElement = document.getElementById('firstname-error');
            errorElement.textContent = '';

            if (!/^[A-Za-z ]*$/.test(firstnameInput)) {
                this.value = this.value.replace(/[^A-Za-z ]/g, ''); 
                errorElement.textContent = 'Only alphabetic characters and one space are allowed in the First Name field.';
                return;
            }
            if (lastCharTyped === ' ' && event.data === ' ') {
                lastCharTyped = ''; 
                return;
            }
            lastCharTyped = event.data; 
            if (firstnameInput.length > 19) {
                this.value = this.value.slice(0, 19);
                errorElement.textContent = 'Only 19 characters are allowed in the First Name field.';
                return;
            }
            this.value = firstnameInput.charAt(0).toUpperCase() + firstnameInput.slice(1); 
            errorElement.textContent = '';
        });
        document.getElementById('register-form').addEventListener('submit', function (event) {
            var firstnameInput = document.getElementById('firstname').value.trim();
            var errorElement = document.getElementById('firstname-error');
            errorElement.textContent = '';
            if (!/^[A-Za-z ]*$/.test(firstnameInput)) {
                errorElement.textContent = 'Only alphabetic characters and one space are allowed in the First Name field.';
                event.preventDefault();
                return;
            }
            if (firstnameInput.length < 5 || firstnameInput.length > 19) {
                errorElement.textContent = 'First Name must be between 5 and 19 characters.';
                event.preventDefault();
                return;
            }
            this.value = firstnameInput.charAt(0).toUpperCase() + firstnameInput.slice(1); 
            errorElement.textContent = '';
        });
var lastCharTypedUsername1 = '';
document.getElementById('username1').addEventListener('input', function (event) {
    var username1Input = this.value.trim();
    var errorElement = document.getElementById('username1-error');
    errorElement.textContent = '';
    if (!/^[A-Za-z\s]*$/.test(username1Input)) {
        this.value = this.value.replace(/[^A-Za-z\s]/g, ''); 
        errorElement.textContent = 'Only alphabetic characters and spaces are allowed in the Username field.';
        return;
    }
    lastCharTypedUsername1 = event.data; 
    if (username1Input.length > 19) {
        this.value = this.value.slice(0, 19);
        errorElement.textContent = 'Only 19 characters are allowed in the Username field.';
        return;
    }
    this.value = username1Input.charAt(0).toUpperCase() + username1Input.slice(1); 
    errorElement.textContent = '';
});
document.getElementById('register-form').addEventListener('submit', function (event) {
    var username1Input = document.getElementById('username1').value.trim();
    var errorElement = document.getElementById('username1-error');
    errorElement.textContent = '';
    if (!/^[A-Za-z\s]*$/.test(username1Input)) {
        errorElement.textContent = 'Only alphabetic characters and spaces are allowed in the Username field.';
        event.preventDefault();
        return;
    }
    if (username1Input.length < 5 || username1Input.length > 19) {
        errorElement.textContent = 'Username must be between 5 and 19 characters.';
        event.preventDefault();
        return;
    }
    this.value = username1Input.charAt(0).toUpperCase() + username1Input.slice(1); 
    errorElement.textContent = '';
});
    function checkOtherDegree(selectElement) {
        var otherDegreeInput = document.getElementById('otherDegree');
        var selectedValue = selectElement.value;
        if (selectedValue === 'Others') {
            otherDegreeInput.style.display = 'block';
            otherDegreeInput.required = true;
        } else {
            otherDegreeInput.style.display = 'none';
            otherDegreeInput.required = false;
        }
    }
	document.getElementById("phone").addEventListener("input", function(event) {
        let inputValue = event.target.value;
        inputValue = inputValue.replace(/\D/g, "");
        event.target.value = inputValue;
    });
	document.addEventListener("DOMContentLoaded", function() {
    var today = new Date().toISOString().split("T")[0];
    document.getElementById("dob").setAttribute("max", today);
    });
    function togglePasswordVisibility(inputId) {
        var inputElement = document.getElementById(inputId);
        var iconElement = document.getElementById(inputId + "-toggle-icon");

        if (inputElement.type === "password") {
            inputElement.type = "text";
            iconElement.classList.remove("fa-eye");
            iconElement.classList.add("fa-eye-slash");
        } else {
            inputElement.type = "password";
            iconElement.classList.remove("fa-eye-slash");
            iconElement.classList.add("fa-eye");
        }
    }
    document.getElementById("register-form").addEventListener("submit", function (event) {
        var isValid = true;
        var username = document.getElementById("username").value.trim();
        if (username === "") {
            document.getElementById("username-error").textContent = "Please fill in the User Name.";
            isValid = false;
        } else {
            document.getElementById("username-error").textContent = "";
        }
        var firstName = document.getElementById("firstname").value.trim();
    if (firstName === "") {
        document.getElementById("firstname-error").textContent = "Please fill in the First Name."; 
        isValid = false;
    } else {
        document.getElementById("firstname-error").textContent = ""; 
    }
        var lastName = document.getElementById("username1").value.trim();
        if (lastName === "") {
            document.getElementById("username1-error").textContent = "Please fill in the Last Name.";
            isValid = false;
        } else {
            document.getElementById("username1-error").textContent = "";
        }
        var password = document.getElementById("password").value.trim();
    var passwordPattern = /^(?=.*[0-9])(?=.*[A-Z])(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/;
    var errorElementPassword = document.getElementById("password-error");
    errorElementPassword.textContent = ""; 
    if (password === "") {
        errorElementPassword.textContent = "Please fill in the Password.";
        event.preventDefault(); 
    } else if (!passwordPattern.test(password)) {
        errorElementPassword.textContent = "Please enter a strong Password.";
        event.preventDefault(); 
    }
        var confirmPassword = document.getElementById("confirmPassword").value.trim();
        if (confirmPassword === "") {
            document.getElementById("confirmPassword-error").textContent = "Please fill in the Confirm Password.";
            isValid = false;
        } else if (password !== confirmPassword) {
            document.getElementById("confirmPassword-error").textContent = "Passwords do not match.";
            isValid = false;
        } else {
            document.getElementById("confirmPassword-error").textContent = "";
        }
        var email = document.getElementById("email").value.trim();
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (email === "") {
            document.getElementById("email-error").textContent = "Please fill in the Email.";
            isValid = false;
        } else if (!emailPattern.test(email)) {
            document.getElementById("email-error").textContent = "Please enter a valid email address.";
            isValid = false;
        } else {
            document.getElementById("email-error").textContent = "";
        }
        var gender = document.getElementById("gender").value.trim();
        if (gender === "") {
            document.getElementById("gender-error").textContent = "Please select a Gender.";
            isValid = false;
        } else {
            document.getElementById("gender-error").textContent = "";
        }
        var phone = document.getElementById("phone").value.trim();
        if (phone === "") {
            document.getElementById("phone-error").textContent = "Please fill in the Phone Number.";
            isValid = false;
        } else {
            document.getElementById("phone-error").textContent = "";
        }
        var dob = document.getElementById("dob").value.trim();
        if (dob === "") {
            document.getElementById("dob-error").textContent = "Please fill in the Date of Birth.";
            isValid = false;
        } else {
            document.getElementById("dob-error").textContent = "";
        }
        var address = document.getElementById("address").value.trim();
        if (address === "") {
            document.getElementById("address-error").textContent = "Please fill in the Address.";
            isValid = false;
        } else {
            document.getElementById("address-error").textContent = "";
        }
        var maritalStatus = document.getElementById("maritalStatus").value.trim();
        if (maritalStatus === "") {
            document.getElementById("maritalStatus-error").textContent = "Please select a Marital Status.";
            isValid = false;
        } else {
            document.getElementById("maritalStatus-error").textContent = "";
        }
        var degree = document.getElementById("degree").value.trim();
        if (degree === "") {
            document.getElementById("degree-error").textContent = "Please select a Degree.";
            isValid = false;
        } else {
            document.getElementById("degree-error").textContent = "";
        }
        var departmentRadios = document.getElementsByName("department");
        var isDepartmentSelected = false;
        for (var i = 0; i < departmentRadios.length; i++) {
            if (departmentRadios[i].checked) {
                isDepartmentSelected = true;
                break;
            }
        }
        if (!isDepartmentSelected) {
            document.getElementById("department-error").textContent = "Please select a Department.";
            isValid = false;
        } else {
            document.getElementById("department-error").textContent = "";
        }

        if (!isValid) {
            event.preventDefault();
        }

    });
        document.getElementById('email').addEventListener('input', function (event) {
            var email = this.value.trim().toLowerCase(); 
            this.value = email; 
        });
    const usernameInput = document.getElementById('username');
    const usernameError = document.getElementById('username-error');
    usernameInput.addEventListener('blur', (event) => {
      const username = event.target.value;
      usernameError.textContent = ''; 
      if (username === '') {
        usernameError.textContent = 'Username cannot be empty.';
      } 
    });
    const firstnameInput = document.getElementById('firstname');
const firstnameError = document.getElementById('firstname-error');
firstnameInput.addEventListener('blur', (event) => {
    const firstname = event.target.value;
    firstnameError.textContent = '';
    if (firstname === '') {
        firstnameError.textContent = 'First Name cannot be empty.'; 
    }
});
    const username1Input = document.getElementById('username1');
    const username1Error = document.getElementById('username1-error');
    username1Input.addEventListener('blur', (event) => {
      const username1 = event.target.value;
      username1Error.textContent = ''; 
      if (username1 === '') {
        username1Error.textContent = 'Last Name cannot be empty.';
      } 
    });
    const passwordInput = document.getElementById('password');
    const passwordError = document.getElementById('password-error');
    passwordInput.addEventListener('blur', (event) => {
      const password = event.target.value;
      passwordError.textContent = ''; 
      if (password === '') {
        passwordError.textContent = 'Password cannot be empty.';
      } 
    });
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const confirmPasswordError = document.getElementById('confirmPassword-error');
    confirmPasswordInput.addEventListener('blur', (event) => {
      const confirmPassword = event.target.value;
      confirmPasswordError.textContent = ''; 
      if (confirmPassword === '') {
        confirmPasswordError.textContent = 'Confirm Password cannot be empty.';
      } 
    });
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('email-error');
    emailInput.addEventListener('blur', (event) => {
      const email = event.target.value;
      emailError.textContent = ''; 
      if (email === '') {
        emailError.textContent = 'Email cannot be empty.';
      } 
    });
    const genderInput = document.getElementById('gender');
    const genderError = document.getElementById('gender-error');
    genderInput.addEventListener('blur', (event) => {
      const gender = event.target.value;
      genderError.textContent = ''; 
      if (gender === '') {
        genderError.textContent = 'Gender cannot be empty.';
      } 
    });
    const phoneInput = document.getElementById('phone');
    const phoneError = document.getElementById('phone-error');
    phoneInput.addEventListener('blur', (event) => {
      const phone = event.target.value;
      phoneError.textContent = ''; 
      if (phone === '') {
        phoneError.textContent = 'Phone cannot be empty.';
      } 
    });
    const dobInput = document.getElementById('dob');
    const dobError = document.getElementById('dob-error');
    dobInput.addEventListener('blur', (event) => {
      const dob = event.target.value;
      dobError.textContent = ''; 
      if (dob === '') {
        dobError.textContent = 'Date Of Birth cannot be empty.';
      } 
    });
    const addressInput = document.getElementById('address');
    const addressError = document.getElementById('address-error');
    dobInput.addEventListener('blur', (event) => {
      const address = event.target.value;
      addressError.textContent = ''; 
      if (address === '') {
        addressError.textContent = 'Address cannot be empty.';
      } 
    });
    const maritalStatusInput = document.getElementById('maritalStatus');
    const maritalStatusError = document.getElementById('maritalStatus-error');
    maritalStatusInput.addEventListener('blur', (event) => {
      const maritalStatus = event.target.value;
      maritalStatusError.textContent = ''; 
      if (maritalStatus === '') {
        maritalStatusError.textContent = 'Marital Status cannot be empty.';
      } 
    });
    const degreeInput = document.getElementById('degree');
    const degreeError = document.getElementById('degree-error');
    degreeInput.addEventListener('blur', (event) => {
      const degree = event.target.value;
      degreeError.textContent = ''; 
      if (degree === '') {
        degreeError.textContent = 'Degree cannot be empty.';
      } 
    });
document.getElementById("register-form").addEventListener("submit", function (event) {
    var isValid = true;
var phoneInput = document.getElementById("phone");
    var phone = phoneInput.value.trim();
    var phoneError = document.getElementById("phone-error");
    phoneError.textContent = "";
    phone = phone.replace(/\D/g, "");
    if (phone === "") {
        phoneError.textContent = "Please fill in the phone number.";
        event.preventDefault();
    } else if (!/^[6-9]\d{9}$/.test(phone)) {
        phoneError.textContent = "Please enter a valid 10-digit phone number.";
        event.preventDefault();
    }
    var emailInput = document.getElementById('email');
    var email = emailInput.value.trim();
    var emailError = document.getElementById('email-error');
    emailError.textContent = '';
    var emailErrors = [];
    if (email === '') {
        emailErrors.push('Email cannot be empty.');
    }
    if (email.startsWith('.')) {
        emailErrors.push('Email cannot start with a dot (.)');
    }
    if (!email.endsWith('@gmail.com')) {
        emailErrors.push('Please enter a valid Gmail address.');
    }
    if (emailErrors.length > 0) {
        emailError.textContent = emailErrors.join(' ');
        isValid = false;
    }
var addressInput = document.getElementById('address');
    var address = addressInput.value.trim();
    var addressError = document.getElementById('address-error');
    addressError.textContent = '';
    if (address === '') {
        addressError.textContent = 'Please fill in the Address.';
        isValid = false;
    } else if (/^\d{20,}$/.test(address) || /^[^\w\s]{5,}$/.test(address) || /^[1@]+$/.test(address)) {
        addressError.textContent = 'Please enter a valid address.';
        isValid = false;
    }
    var selectedDegree = document.getElementById('degree').value;
    var otherDegreeInput = document.getElementById('otherDegree');
    var otherDegreeValue = otherDegreeInput.value.trim();
    var degreeError = document.getElementById('degree-error');
    degreeError.textContent = '';

    if (selectedDegree === '') {
        degreeError.textContent = 'Please select a Degree.';
        isValid = false;
    } else if (selectedDegree === 'Others' && otherDegreeValue === '') {
        degreeError.textContent = 'Please fill in the Other Degree field.';
        isValid = false;
    }
var dobInput = document.getElementById("dob");
    var dob = dobInput.value.trim();
    var dobError = document.getElementById("dob-error");
    dobError.textContent = '';

    if (dob === '') {
        dobError.textContent = 'Please fill in the Date of Birth.';
        isValid = false;
    } 

    if (!isValid) {
        event.preventDefault();
    }
});
document.getElementById("phone").addEventListener("input", function (event) {
    var inputValue = event.target.value.trim();
    var phoneError = document.getElementById("phone-error");
    phoneError.textContent = "";
    inputValue = inputValue.replace(/\D/g, "");
    if (inputValue.length > 10) {
        inputValue = inputValue.slice(0, 10);
    }
    event.target.value = inputValue;
});
document.getElementById("phone").addEventListener("keydown", function (event) {
    var inputValue = event.target.value.trim();
    if (inputValue.replace(/\D/g, "").length >= 10 && event.key !== "Backspace" && event.key !== "Delete") {
        event.preventDefault();
    }
});
document.addEventListener("DOMContentLoaded", function() {
    var dobInput = document.getElementById("dob");
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    var currentMonth = ("0" + (currentDate.getMonth() + 1)).slice(-2); 
    var currentDay = ("0" + currentDate.getDate()).slice(-2);

    var maxDate = (currentYear - 18) + "-" + currentMonth + "-" + currentDay;
    dobInput.max = maxDate;
});
  </script>
</body>
</html>